# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache

# Laravel Mix
/public/hot
/public/mix-manifest.json
/public/js/*.js
/public/css/*.css

# IDEs & system files
*.log
*.DS_Store
*.idea
*.vscode
*.sublime-project
*.sublime-workspace
.env.backup
.env.*
